AutomationAndCSharpBasics/bin
AutomationAndCSharpBasics/obj
AutomationAndCSharpBasics/Screenshots
CSharpBasicsPractice/bin
CSharpBasicsPractice/obj

.DS_Store
.vs
.vscode

# git rm -r --cached AutomationAndCSharpBasics/bin